
if ARCH_M68K

config M68K
	bool
	default y
	select CPU_BIG_ENDIAN

config GCC_PREFIX
	string
	default m68k-linux-gnu-

choice
	prompt "Minimum required CPU"
	default MC68030

config MC68010
	bool "MC68010+"
	help
	  This selects the 68010 CPU as the lowest common architecture for
	  all software in this suite.  All files will be compiled with the
	  -m68010 flag, and the system will be assumed to use a 16-bit
	  bus, with separate even and odd bytes.  Furthermore, it will be
	  assumed that the CPU supports the VBR register for relocating the
	  interrupt vector table.

config MC68030
	bool "MC68030+"
	help
	  This option selects the 68030 as the lowest common architecture for
	  all software in this suite.  All files will be compiled with the
	  -m68030 flag.  Furthermore, it will be assumed that the CPU has an
	  MMU and cache.

endchoice

config M68K_USER_MODE
	bool "run user programs in user mode"
	default y
	help
	  If this option is true, then all programs except the kernel itself
	  will be run in the m68k processor's user mode, and the kernel will be
	  run in supervisor mode.  If this option is false, then everything
	  will run in supervisor mode.

endif
