
menu "Memory management"

config KERNEL_BASE
	hex "Kernel base address"
	default 0x100000
	help
	  This is the location in memory where the kernel will be loaded at.
	  This is also used when linking because the kernel is not relocatable,
	  so make sure it's set correctly.

# TODO these could move to Kconfig.machine, such that the default is set conditionally, but otherwise appears in the machine menu
config KMEM_START
	hex "Kernel memory start address"
	default 0x120000
	help
	  This is the start of the memory area that will be used for allocating
	  kernel memory for disk blocks, and also user program space when
	  paging is not used.  This does not include the kernel binary or
	  data/bss area, so make sure it's higher than that.

config KMEM_END
	hex "Kernel memory end address"
	default 0x200000
	help
	  This is the address at the top end of installed memory where the
	  kernel memory will allocate from.  Currently only one contiguous
	  chunk of memory is supported.

config PAGE_SIZE
	hex
	default 256 if PAGE_SIZE_256
	default 512 if PAGE_SIZE_512
	default 1024 if PAGE_SIZE_1K
	default 2048 if PAGE_SIZE_2K
	default 4096 if PAGE_SIZE_4K
	default 8192 if PAGE_SIZE_8K
	default 16384 if PAGE_SIZE_16K
	default 32768 if PAGE_SIZE_32K
	default 65536 if PAGE_SIZE_64K

endmenu
