
menu "Memory management"

config KERNEL_BASE
	hex "Kernel base address"
	default 0x100000
	help
	  This is the location in memory where the kernel will be loaded at.
	  This is also used when linking because the kernel is not relocatable,
	  so make sure it's set correctly.

config KERNEL_MEM_SIZE
	hex "Amount of available memory"
	default 0x100000
	help
	  This is the amount of memory available after the Kernel base address, used as the ram size in the linker
	  script. If automatic memory layout is enabled the rest of this memory block will be filled with the page memory.

config BOOT_STACK_SIZE
	hex "Kernel boot stack size"
	default 0x1000
	help
	  This is the amount of memory initially reserved for the kernel stack. Should be at least 4k (0x100).

config MEM_LAYOUT_AUTO
	bool "Automatic memory layout"
	help
	  This will make the linker calculate the addresses for the memdisk and the page memory assigning
	  the available memory as page memory.

config MEMDISK0_START
	hex "Memdisk start address"
	depends on (MEMDISK && !MEM_LAYOUT_AUTO)
	default 0x1E0000
	help
	  This is the memory start address for the first memdisk which can be used as an initial RAM fs.

config MEMDISK0_SIZE
	hex "Memdisk size"
	depends on MEMDISK
	default 0x20000
	help
	  This is the amount of memory used for the first memdisk.

if !MEM_LAYOUT_AUTO

# TODO these could move to Kconfig.machine, such that the default is set conditionally, but otherwise appears in the machine menu
config PAGES_START
	hex "Page memory start address"
	default 0x120000
	help
	  This is the start of the memory area that will be used for allocating
	  kernel memory for disk blocks, and also user program space when
	  paging is not used.  This does not include the kernel binary or
	  data/bss area, so make sure it's higher than that.

config PAGES_END
	hex "Page memory end address"
	default 0x300000
	help
	  This is the address at the top end of installed memory where the
	  kernel memory will allocate from.  Currently only one contiguous
	  chunk of memory is supported.

endif

config PAGE_SIZE
	hex
	default 256 if PAGE_SIZE_256
	default 512 if PAGE_SIZE_512
	default 1024 if PAGE_SIZE_1K
	default 2048 if PAGE_SIZE_2K
	default 4096 if PAGE_SIZE_4K
	default 8192 if PAGE_SIZE_8K
	default 16384 if PAGE_SIZE_16K
	default 32768 if PAGE_SIZE_32K
	default 65536 if PAGE_SIZE_64K

endmenu
