#
# Minimal config for 68k-SBC and 68k-SMT
# (make sure to run menuconfig or olddefconfig to add the defaults)
#

CONFIG_MC68010=y
CONFIG_M68K_USER_MODE=n
CONFIG_MMU=n

CONFIG_ATA=y
CONFIG_ATA_BASE=0x600021
CONFIG_TTY_68681=y
CONFIG_TTY_68681_BASE=0x00700001

CONFIG_KERNEL_BASE=0x100000
CONFIG_PAGES_START=0x120000
CONFIG_PAGES_END=0x300000

CONFIG_DUAL_AM29F040=y
