# Editor Files
.*.sw?
.local.vimrc
session*.vim
.ccls-cache/

# Source Output Files
*.o
*.a
*.bin
*.elf
*.hex
*.noi
*.lst
*.rel
*.sym
*.load
*.send
output.txt

# EDA Output Files
*.gbr
*.drl
*gbrjob
*-bak
*.bak
*.bck
fp-info-cache
hardware/**/*-backups

# Binary files
*.img

# Build Directory
/build/
/include/generated/

# Miscellaneous
/junk/
