# For a description of the syntax of this configuration file,
# see the linux kernel's Documentation/kbuild/kconfig-language.rst.
#
mainmenu "Gloworm Configuration"

source "src/Kconfig.arch"

source "src/Kconfig"

source "src/kernel/Kconfig"

source "src/commands/Kconfig"

source "src/boot/Kconfig"

source "src/monitor/Kconfig"

