#
# Minimal config for 68k-SBC and 68k-SMT
# (make sure to run menuconfig or olddefconfig to add the defaults)
#

CONFIG_MC68010=y
CONFIG_M68K_USER_MODE=n
CONFIG_MMU=n

CONFIG_ATA=n

CONFIG_MEM=y
CONFIG_TTY_68681=y
CONFIG_TTY_68681_BASE=0x00700001

CONFIG_KERNEL_BASE=0x100000
CONFIG_PAGES_START=0x120000
CONFIG_PAGES_END=0x300000
CONFIG_MEMDISK0_START=0x300000
CONFIG_MEMDISK0_SIZE=0x100000

CONFIG_MINIX_FS=y
CONFIG_MINIX_FS_MKFS=y

CONFIG_NET=n
CONFIG_SLIP=n

CONFIG_SHELL_IN_KERNEL=y
CONFIG_SHELL_WITH_UTILS=y
CONFIG_BOOTSTRAP_DISK=y

CONFIG_SINGLE_AM29F040=y
