
menu "File systems"

config MSDOS_PARTITION
	bool "MSDOS Partition"
	default y
	help
	  This enables the ramdisk device, which requires a fixed size that
	  will be reserved

source "src/kernel/fs/minix/Kconfig"

source "src/kernel/fs/ext2/Kconfig"

config NAME_MAX
	int "maximum filename length"
	default 256
	help
	  The maximum number of characters in a single filename or path
	  segment.  This is used throughout the virtual file system

config PATH_MAX
	int "maximum path length"
	default 1024
	help
	  The maximum number of characters in a complete file path.  This is
	  used for buffers involving a complete path

endmenu

