
menuconfig TTY
	bool "TTY support"
	default y
	help
	  Include the TTY subsystem

if TTY

config TTY_68681
	bool "MC68681"
	default y
	help
	  This enables the driver for the Morotola MC68681 dual-serial port
	  controller

config TTY_68681_BASE
	hex "MC68681 base address"
	depends on TTY_68681
	default 0x00700001
	help
	  Base memory-mapped I/O address of the MC68681 controller.

config TTY_68681_INTVEC
	int "MC68681 Interrupt vector"
	depends on TTY_68681
	default 64
	help
	  Interrupt vector for the MC68681 controller.
endif

