
menuconfig TTY
	bool "TTY support"
	default y
	help
	  Include the TTY subsystem

if TTY

config TTY_68681
	bool "MC68681"
	default y
	help
	  This enables the driver for the Morotola MC68681 dual-serial port
	  controller

endif

