
choice
	prompt "Architecture"

config ARCH_M68K
	bool "m68k"
	help
	  Configure the kernel to run on the Motorola 680x0 family of
	  architectures

config ARCH_TESTAPP
	bool "testapp"
	help
	  Configure the kernel to run as an application under linux for running
	  tests and such.  This is more so a place to experiment with alternate
	  configuration in opposition to the only other architecture, m68k.

endchoice

config ARCH
	string
	default "m68k" if ARCH_M68K

config ARCH
	string
	default "testapp" if ARCH_TESTAPP

