
menu "Monitor firmware"

#config BOARD
#	string
#
#choice
#	prompt "Board version"
#	default BOARD_K30P_VME
#
#config BOARD_68K_SBC
#	bool "Computie 68k-SBC/68k-SMT"
#	select DUAL_AM29F040
#	help
#	  Choosing this option will configure for the Computie 68k-SBC or
#	  68k-SMT board
#
#config BOARD_K30_SBC
#	bool "Computie k30-SBC"
#	select AM29F040
#	help
#	  Choosing this option will configure for the Computie k30-SBC board
#
#config BOARD_K30P_VME
#	bool "Computie k30p-VME"
#	select AM29F040
#	help
#	  Choosing this option will configure for the Computie k30p-VME board
#
#endchoice

choice
	prompt "Board ROM configuration"
	default AM29F040

config AM29F040
	bool "Single 8-bit AM29F040"
	help
	  The monitor will be stored in one 8-bit AM29F040 flash chips.  This
	  option is used to set the programming algorithm when writing a new
	  firmware image to the board.

config DUAL_AM29F040
	bool "Two 8-bit AM29F040s, one for even bytes, and the other for odd bytes"
	help
	  The monitor will be stored in two 8-bit AM29F040 flash chips, with
	  the even bytes stored in one chip, and the odd bytes stored in the
	  other chip.  Both chips will be programmed at the same time when
	  writing a new firmware image.

endchoice

endmenu
